.col-lg-2 a {
    background-color: transparent;
    padding: 5px;
    display: inline-block;
    margin-bottom: 3px;
    border: 0.5px solid #ccc;
    text-align: center;
    color: var(--vcal-today-bg-color);
    font-weight:  600;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
}

.col-lg-2 a:hover {
    background-color: #fff;
    border: 0.5px solid var(--vcal-today-bg-color);
    text-decoration: none;
    color: var(--vcal-today-bg-color);
}

.myimg {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: auto;
}

.row {}

.selectpicker {
    border: 0.5px solid grey;
    outline: none;
    border-radius: 10px;
    max-width: 300px;
    padding: 50px;
    padding-left: 100px;
}

#phone-text {
    position: relative;
    top: -5px;
}